.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    z-index: 100;
    color: var(--text-color);
    position: relative;
    bottom: 0;
    width: 100%;
    /* margin-top: -100vh; */
}
.footer-text{
    animation: slideIn 1s ease-in-out forwards;

}
.footer-text p{
    font-size: 1.6rem;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* breakpoints */
/* bigger laptops */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .footer-text p{
        font-size: 1rem;
    }
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
