<section class="skills" id="skills">
    <h2 class="heading">My <span>Skills</span></h2>
    <div class="skills-container">
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Coding Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="prog">
                            <h3>Programming ( C, C++, JavaScript, TypeScript) <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Web Development ( Angular, NodeJs, Firebase ) <span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Database Management(SQL, NoSQL, Google Cloud)<span>80%</span> </h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Version Control ( Git, Github ) <span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Concepts( DSA, OOPS, OS, Network Security)<span>88%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
    
                    
                </div>
            </div>
            <div class="skills-column">
                <h3 class="title">Professional Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="prog">
                            <h3>Agile & Scrum Methodology <span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Team Collaboration & Mentorship <span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>UI/UX Design Principles <span>75%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Problem-Solving & Critical Thinking <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="prog">
                            <h3>Effective Communication & Leadership <span>88%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
