<section class="portfolio" id="portfolio">
    <h2 class="heading">My <span>Projects</span></h2>
    <div class="portfolio-container">
        <div class="portfolio-row">
            <div class="portfolio-column">
                <div class="projects-box">
                    <div class="projects-content">
                        <img src="meet.png" alt="">
                        <div class="projects-text">
                            <h2 style="display: flex; justify-content: left; align-items: center;">Meet Worktez</h2>
                            <p>Meet Worktez is a custom video conferencing platform built using Jitsi APIs. It provides users with a seamless and customizable solution for hosting virtual meetings and events.</p>
                            <p><span>My Contributions:</span> Integrated Jitsi APIs, developed the Angular-based frontend, implemented Firebase authentication, and designed a responsive UI for seamless accessibility.</p>
                            <p><span>Tech Stack:</span> Jitsi, Angular, Firebase, Node.js, FastifyJs</p>
                            <div class="btn-box btns">
                                <a href="https://www.github.com/worktez/meet.worktez" target="_blank" class="btn">Github</a> 
                            </div>
                        </div>
      
                    </div>
                </div>
            </div>
            <div class="portfolio-column">
                <div class="projects-box">
                    <div class="projects-content">
                        <img src="worktez.png" alt="">
                        <div class="projects-text">
                            <h2 >Worktez</h2>
                            <p>Worktez is a DevOps driven executive productivity and project management platform designed to help organizations plan, track, and collaborate efficiently.</p>
                            <p><span>My Contributions:</span> Developed dashboard components, implemented real-time database interactions, built workflow automation, created 20+ APIs, led UI migration, and integrated Git functionalities.</p>
                            <p><span>Tech Stack:</span> Angular, Firebase, Node.js, Fastify.js, DevOps, CI/CD</p>
                            <div class="btn-box btns">
                                <a href="https://www.github.com/worktez/worktez" target="_blank" class="btn">Github</a> 
                            </div>
                        </div>
      
                    </div>
                </div>
            </div>
            <div class="portfolio-column">
                <div class="projects-box">
                    <div class="projects-content">
                        <img src="GCPA.png" alt="">
                        <div class="projects-text">
                            <h2 style="display: flex; justify-content: left; align-items: center;">Global Child Prodigy Awards</h2>
                            <p>The Global Child Prodigy Awards is a prestigious platform that recognizes and celebrates exceptional talents in children worldwide.</p>
                            <p><span>My Contributions:</span> Developed the Blogs Page, fixed UI issues, enhanced content security, and created an image gallery and testimonials page.</p>
                            <p><span>Tech Stack:</span> Angular, Firebase, Node.js, Fastify.js</p>
                            <div class="btn-box btns">
                                <a href="https://github.com/GlobalChildProdigyAwards/GCPAWeb" target="_blank" class="btn">Github</a> 
                            </div>
                        </div>
      
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>
