<section class="home">
    <div class="home-content">
        <h1>Hi, I'm <span>Abhishek Mishra</span> </h1>
        <h3>Full Stack Developer</h3>
        <p>A final-year BTech CSE student with hands-on experience in full-stack development, intelligent automation, and cloud technologies. Passionate about building scalable and impactful solutions while continuously exploring new technologies.</p>
        <div class="btn-box">
            <a href="Abhishek_Mishra_Resume.pdf" target="_blank">Hire me</a>
            <a (click)="letsTalk()">Let's Talk</a>
        </div>
        <div class="home-sci">
            <a href="https://www.github.com/abhishek-mishra019" target="_blank"><i class='bx bxl-github' ></i></a>
            <a href="https://www.linkedin.com/in/abhishek-mishra019" target="_blank"><i class='bx bxl-linkedin' ></i></a>
            <a href="https://www.instagram.com/abhishek.mishra020" target="_blank"><i class='bx bxl-instagram' ></i></a>
        </div>
    </div>
    <img src="profile1.png" alt="" class="home-imgHover">
    <!-- <span class="home-imgHover"></span> -->

</section>
<!-- <section></section> -->