<section class="about" id="about">
    <h2 class="heading">About <span>Me</span></h2>
    <div class="about-container">
        <div class="about-img">
            <img src="profile1.png"  alt="">
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>Full Stack Developer</h3>
            <p>I’m a final-year BTech CSE student with hands-on experience in full-stack development, intelligent automation, and cloud technologies. From building dynamic web apps to optimizing backend systems, I’ve worked with a diverse tech stack, including Angular, Firebase, Node.js, and Fastify.js. I thrive in Agile environments, managing sprints, collaborating with teams, and delivering scalable solutions. With a passion for problem-solving and innovation, I’m always looking to create tech that makes a real impact.</p>
            <div class="btn-box btns">
                <a (click)="readMore()" class="btn">Read More</a> 
            </div>
        </div>    
    </div>
</section>