<section class="about" id="about">
    <h2 class="heading">About <span>Me</span></h2>
    <div class="about-container">
        <div class="about-img">
            <img src="profile1.png"  alt="">
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>Full Stack Developer</h3>
            <p>I’m a Software Engineer with experience in full-stack development, intelligent automation, and cloud technologies. From building AI-driven applications to developing scalable backend systems, I’ve worked with technologies like Python, Node.js, Fastify, Angular, and cloud platforms. I also have experience with Generative AI and LLM-based solutions, focusing on solving real-world problems through efficient and scalable systems. I thrive in Agile environments, collaborating with teams, managing deliverables, and contributing to production-ready applications, while continuously learning and building impactful technology.</p>
            <div class="btn-box btns">
                <a (click)="readMore()" class="btn">Read More</a> 
            </div>
        </div>    
    </div>
</section>